<div class="tasks-contanier">
	<div class="name mb-0 pt-5">
		<h3>My Onboarding Checklist</h3>
	</div>
	<div class="checklist-task-row">
		<div class="set-up">
			<h5>SET UP ACCOUNTS</h5>
			<ul class="list-items">
				<li>Install Office 365
					<%= check_box_tag 'install_office', @lawyer_tasks.id, @lawyer_tasks.install_office,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "install_office"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>RingCentral
					<%= check_box_tag 'ring_central', @lawyer_tasks.id, @lawyer_tasks.ring_central,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "ring_central"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>Adobe Pro DC
					<%= check_box_tag 'adobe', @lawyer_tasks.id, @lawyer_tasks.adobe,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "adobe"}),
							method: "POST",
						}
				 	%>
				</li>
				<li>Law 360
					<%= check_box_tag 'law_threesixty', @lawyer_tasks.id, @lawyer_tasks.law_threesixty,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "law_threesixty"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>VPN 
					<%= check_box_tag 'vpn', @lawyer_tasks.id, @lawyer_tasks.vpn,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "vpn"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>Dropbox
					<%= check_box_tag 'dropbox', @lawyer_tasks.id, @lawyer_tasks.dropbox,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "dropbox"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>LexisNexis/CaseText (if applicable) 
					<%= check_box_tag 'lexisnexis', @lawyer_tasks.id, @lawyer_tasks.lexisnexis,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "lexisnexis"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>Markify (if applicable)
					<%= check_box_tag 'markify', @lawyer_tasks.id, @lawyer_tasks.markify,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "markify"}),
							method: "POST",
						}
				 	%> 
				</li>
			</ul>
		</div>
		<div class="set-up">
			<h5>FORMS TO FILL OUT</h5>
			<ul class="list-items">
				<li>Profile Information
					<%= check_box_tag 'profile_info_form', @lawyer_tasks.id, @lawyer_tasks.profile_info_form,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "profile_info_form"}),
							method: "POST",
						}
				 	%>
				</li>
				<li>Malpractice Insurance
					<%= check_box_tag 'malpractice_insurance_form', @lawyer_tasks.id, @lawyer_tasks.malpractice_insurance_form,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "malpractice_insurance_form"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>Benefits
					<%= check_box_tag 'benefits', @lawyer_tasks.id, @lawyer_tasks.benefits,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "benefits"}),
							method: "POST",
						}
				 	%>
				</li>
				<li>Tax Form W-9
					<%= check_box_tag 'tax_form', @lawyer_tasks.id, @lawyer_tasks.tax_form,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "tax_form"}),
							method: "POST",
						}
				 	%>
				</li>
				<li>NDA Form
					<%= check_box_tag 'nda_form', @lawyer_tasks.id, @lawyer_tasks.nda_form,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "nda_form"}),
							method: "POST",
						}
				 	%>
				</li>
				<li>ACH Form
					<%= check_box_tag 'ach_form', @lawyer_tasks.id, @lawyer_tasks.ach_form,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "ach_form"}),
							method: "POST",
						}
				 	%>
				</li>
			</ul>
		</div>
		<div class="set-up">
			<h5>UPDATE/CREATE PROFILES</h5>
			<ul class="list-items">
				<li>Update all social Media
					<%= check_box_tag 'social_media', @lawyer_tasks.id, @lawyer_tasks.social_media,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "social_media"}),
							method: "POST",
						}
				 	%>  
				</li>
				<li>Martindale/Hubbell
					<%= check_box_tag 'martindale', @lawyer_tasks.id, @lawyer_tasks.martindale,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "martindale"}),
							method: "POST",
						}
				 	%>  
				</li>
				<li>AVVO
					<%= check_box_tag 'avvo', @lawyer_tasks.id, @lawyer_tasks.avvo,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "avvo"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>Update state bar registration 
					<%= check_box_tag 'state_bar_registration', @lawyer_tasks.id, @lawyer_tasks.state_bar_registration,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "state_bar_registration"}),
							method: "POST",
						}
				 	%> 
				</li>
			</ul>
		</div>
		<div class="set-up">
			<h5>TRAINING AND ORIENTATION</h5>
			<ul class="list-items">
				<li>New Subject Matter
					<%= check_box_tag 'new_matter_training', @lawyer_tasks.id, @lawyer_tasks.new_matter_training,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "new_matter_training"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>Running Invoices
					<%= check_box_tag 'running_invoices', @lawyer_tasks.id, @lawyer_tasks.running_invoices,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "running_invoices"}),
							method: "POST",
						}
				 	%> 
				</li>
			</ul>
		</div>
		<div class="set-up">
			<h5>FOR THE WEBSITE</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Photo Shoot</i></li>
				<li><i class="far fa-square fa-lg"> Biography & Announcement</i></li>
			</ul>
		</div>
	</div>
</div>
