<div class="tasks-contanier">
	<div class="name mb-0 pt-5">
		<h3>My Onboarding Checklist</h3>
	</div>
	<div class="checklist-task-row">
		<div class="set-up">
			<h5>SET UP ACCOUNTS</h5>
			<ul class="list-items">
				<li><%= check_box_tag 'install_office', @lawyer_tasks.id, @lawyer_tasks.install_office,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "install_office"}),
							method: "POST",
						}
				 	%> Install Office 365
				</li>
				<li><%= check_box_tag 'ring_central', @lawyer_tasks.id, @lawyer_tasks.ring_central,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "ring_central"}),
							method: "POST",
						}
				 	%> RingCentral
				 </li>
				<li><%= check_box_tag 'adobe', @lawyer_tasks.id, @lawyer_tasks.adobe,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "adobe"}),
							method: "POST",
						}
				 	%>Adobe Pro DC
				 </li>
				<li><%= check_box_tag 'law_threesixty', @lawyer_tasks.id, @lawyer_tasks.law_threesixty,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "law_threesixty"}),
							method: "POST",
						}
				 	%>Law 360 
				 </li>
				<li><%= check_box_tag 'vpn', @lawyer_tasks.id, @lawyer_tasks.vpn,
						data: {
							remote: true,
							url: toggle_lawyer_task_path(@lawyer_tasks, params: {task: "vpn"}),
							method: "POST",
						}
				 	%> VPN 
				</li>
				<li><i class="far fa-square fa-lg"> Dropbox </i></li>
				<li><i class="far fa-square fa-lg"> LexisNexis/CaseText (if applicable) </i></li>
				<li><i class="far fa-square fa-lg"> Markify (if applicable) </i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>FORMS TO FILL OUT</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Profile Information</i></li>
				<li><i class="far fa-square fa-lg"> Malpractice Insurance</i></li>
				<li><i class="far fa-square fa-lg"> Benefits </i></li>
				<li><i class="far fa-square fa-lg"> Tax Form W-9</i></li>
				<li><i class="far fa-square fa-lg"> NDA Form</i></li>
				<li><i class="far fa-square fa-lg"> ACH Form</i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>UPDATE/CREATE PROFILES</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Update all social Media </i></li>
				<li><i class="far fa-square fa-lg"> Martindale/Hubbell</i></li>
				<li><i class="far fa-square fa-lg"> AVVO </i></li>
				<li><i class="far fa-square fa-lg"> Update state bar registration </i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>TRAINING AND ORIENTATION</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> New Subject Matter</i></li>
				<li><i class="far fa-square fa-lg"> Running Invoices </i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>FOR THE WEBSITE</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Photo Shoot</i></li>
				<li><i class="far fa-square fa-lg"> Biography & Announcement</i></li>
			</ul>
		</div>
	</div>
</div>
