<div class="tasks-contanier">
	<div class="name mb-0 pt-5">
		<h3>My Onboarding Checklist</h3>
	</div>
	<div class="checklist-task-row">
		<div class="set-up">
			<h5>SET UP ACCOUNTS</h5>
			<ul class="list-items">
				<li>Install Office 365
					<%= check_box_tag 'install_office', @support_tasks.id, @support_tasks.install_office,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "install_office"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li>RingCentral
					<%= check_box_tag 'ring_central', @support_tasks.id, @support_tasks.ring_central,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "ring_central"}),
							method: "POST",
						}
				 	%>  
				 </li>
				<li>Adobe Pro DC
					<%= check_box_tag 'adobe', @support_tasks.id, @support_tasks.adobe,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "adobe"}),
							method: "POST",
						}
				 	%>  
				</li>
				<li>VPN 
					<%= check_box_tag 'vpn', @support_tasks.id, @support_tasks.vpn,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "vpn"}),
							method: "POST",
						}
				 	%>  
				</li>
				<li>Dropbox
					<%= check_box_tag 'dropbox', @support_tasks.id, @support_tasks.dropbox,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "dropbox"}),
							method: "POST",
						}
				 	%>  
				</li>
				<li> Gusto
					<%= check_box_tag 'gusto', @support_tasks.id, @support_tasks.gusto,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "gusto"}),
							method: "POST",
						}
				 	%>  
				</li>
			</ul>
		</div>
		<div class="set-up">
			<h5>FORMS TO FILL OUT</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Tax Form W-9</i></li>
				<li><i class="far fa-square fa-lg"> ACH Form</i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>UPDATE/CREATE PROFILES</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Update all social Media </i></li>
				<li><i class="far fa-square fa-lg"> Email Signature</i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>TRAINING AND ORIENTATION</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> New Employee Training</i></li>
			</ul>
		</div>
	</div>
</div>
