<!DOCTYPE html>
<html>
  <head>
    <title>PLG Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
      <% if current_user %>

        <% if (current_user.role == "lawyer" && current_user.onboarded?) %>
              <%= render 'shared/header'  %>
              <%= render 'shared/sidenav_onboarded' %>
        <% elsif (current_user.role == "support" && current_user.onboarded?) %>
              <%= render 'shared/navbar'  %>
        <% elsif (current_user.role == "admin") %>
              <%= render 'shared/header' %>
              <%= render 'shared/admin_navbar'%>
        <% elsif (current_user.role == "lawyer") %>
              <%= render 'shared/navbar'  %>
              <%= render 'shared/nav_bar_onboard' %>
        <% elsif (current_user.role == "support")%>
              <%= render 'shared/navbar' %>
              <%= render 'shared/supportstaff_navbar' %>
        <% end %>
      <% end %>
    
   
        <%#= render 'shared/navbar' %>
        <%#= render 'shared/flashes' %>
        <%#= render 'shared/nav_bar_onboard' %>
        <%#= render 'shared/sidenav_onboarded' %>
        <%#= render 'shared/header' %>
        <%#= render 'shared/admin_navbar' %>
        <%#= render 'shared/supportstaff_navbar' %>


    <%= yield %>
  </body>
</html>
